APP_ROOT=/home/dev/infra
APP_NAME=step_function_practice
TF_VAR_dev_aws_account_id=
TF_VAR_stg_aws_account_id=
TF_VAR_prd_aws_account_id=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_DEFAULT_REGION=ap-northeast-1